@model IEnumerable<ToDoAppFall18.Models.ToDo>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Index</h2>
    <p>This is the index.</p>

<section>
    <ul>
        @foreach (var todo in Model)
        {
            <li>
                <a href="/Home/Details/@todo.Id">@todo.Description</a><a href="/Home/Delete/@todo.Id">Delete</a>
            </li>
        }
    </ul>

    <a href="/Home/Create">Create New Item</a>
</section>

